p {
    margin: 0;
}

#heart-container, #diamond-container {
    color: red;
}

#spade-container {
    color: black;
}

.card-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;

    justify-self: center;

    border: 1px;
    border-color: black;
    border-style: solid;
    border-radius: 20px;

    background-color: white;

    width: 90%;
    aspect-ratio: 2.25/3.05;

    transition: margin-bottom 0.75s, box-shadow 0.75s, opacity 0.15s;

}

.card-container:hover {
    margin-bottom: 20%;
    box-shadow: 3px 5px 5px rgba(0, 0, 0, 0.05);
    cursor: pointer;
}


.card-container:active {
    opacity: 0.8;
}

.card-value {
    margin-top: 10%;
    margin-bottom: 0;
    font-weight: 500;
}

.card-suite {
    margin-top: 0;
}

.left-section {
    margin-left: 10%;

    font-size: 1.75rem;
}

.middle-section {
    display: flex;
    flex-direction: column;
    flex: 1;

    align-self: center;

    text-align: center;
    font-size: 5rem;
}

.middle-top-section {
    flex: 1;
}

.middle-bottom-section {
    flex: 1;
    transform: rotate(180deg);
}


.right-section {
    margin-right: 10%;
    transform: rotate(180deg);

    font-size: 1.75rem;
}

a:link {
    text-decoration: none;
    color: white;
    font-weight: 500;
}

a:visited {
    text-decoration: none;
    color: white;
    font-weight: 500;
}

a:hover {
    text-decoration: none;
}