* {
    font-family: Arial, Helvetica, sans-serif;
}


.header-bar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 1% 2%;
    font-size: 1.25rem;
    background-color: #3f515a;
    width: 100%;

}

.header-bar a:link {
    text-decoration: none;
    color: white;
    font-weight: 500;
}

.header-bar a:visited {
    text-decoration: none;
    color: white;
    font-weight: 500;
}

.header-bar- a:hover {
    text-decoration: underline;
}

.header-left-section {
    display: flex;
    flex: 1;    

    justify-content: center;
}

.header-left-section a {
    margin-right: 30%;
}

.logo-image {
    height: 4rem;
}


.header-right-section {
    display: flex;
    flex: 3;

    margin-left: 5%;
    align-items: center;

    font-size: 1.5rem;

}

.header-right-section a {
    margin-right: 20%;
}