* {
    font-family: Arial, Helvetica, sans-serif;
}

.navigation {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
}

.nav-bar {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 1%;
    font-size: 1.25rem;
    background-color: #555b5e;
}

.nav-bar a:link {
    text-decoration: none;
    color: white;
    font-weight: 500;
}

.nav-bar a:visited {
    text-decoration: none;
    color: white;
    font-weight: 500;
}

.nav-bar- a:hover {
    text-decoration: underline;
}