body {
    height: 95vh;
    background-color: #2E3234;

}

.card-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    justify-content: center;

    margin-left: 2%;
    margin-right: 2%;

    gap: 5%;
    height: 100%;
}

.card-description-text {
    opacity: 0;
    text-align: center;
    font-size: 2em;
    font-weight: bold;
    color: white;

    transition: opacity 0.5s;
    margin-top: 3%;
}

.card-text-container:hover p{
    opacity: 1;
}




footer{
    text-align: center;
}