body {
    height: 95vh;
    background-color: #2E3234;

}

.card-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    justify-content: center;

    margin-left: 2%;
    margin-right: 2%;

    gap: 5%;
    height: 100%;
}

.card-text {
    text-align: center;
}

footer{
    text-align: center;
}