* {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    color: white;
}

body {
    height: 600vh;
    min-width: 300px;

    display: flex;
    flex-direction: column;

    background-color: #2E3234;
}

.section {
    flex: 1;
}

/*consider adding a general info text styling*/

/*intro page*/

#intro-page {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.intro-info {
    margin-left: 10%;
    margin-right: 10%;
    align-self: center;
}

.intro-heading {
    font-size: 5em;
}

.intro-text {
    margin-bottom: 1rem;
    max-width: 500px;
}

.intro-button {
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 1.5%;
    padding-bottom: 1.5%;

    background-color: #545454;
    border: none;
    border-radius: 3px;

    font-weight: bold;
    color: white;
}

/*pseudo class selector*/
.intro-button:hover {
    cursor: pointer;
    background-color: #717070;
}

.intro-button:active {
    opacity: 0.7;
}

.intro-image-column {
    align-self: center;
}

.intro-image {
    width: 90%;
}



/*history page*/

#history-page {
    display: grid;
    grid-template-columns: 1fr 1fr;

    background-color: #5F686C;
    
    color: white;
    font-weight: bold;
}

.history-image-column {
    margin-left: 10%;
}

.history-image {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.history-info {
    margin-left: 10%;
    margin-right: 10%;
    align-self: center;
}

.history-heading {
    font-size: 2em;

    margin-bottom: 1rem;
}

/* first-letter pseudo element selector */
.history-heading::first-letter {
    font-size: 3rem;
}

.history-text {
    width: 80%;
}

/* main */


main {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2em;
    width: 66%;
    min-height: 66vh;
    margin: 0 auto;
    margin-top: 5%;
    margin-bottom: 5%;
}


/*gameplay page*/


#gameplay-page {

}

.gameplay-heading-row {
    margin-left: 10%;
    margin-right: 10%;

    align-self: flex-end;
}

.gameplay-heading {
    font-size: 2.5em;

    justify-self: center; 

    margin-bottom: 4rem;  
}

.gameplay-info {
    margin-left: 5%;
    margin-right: 5%;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    align-self: flex-start;
    justify-content: center;

}

.gameplay-info-text {
    flex: 1;
    min-width: 15rem;

    margin-bottom: 5%;
    margin-right: 5%;
    margin-left: 5%;

    font-size: 2.5vh;
    font-weight: bold;

}

.gameplay-info-text a[href] {
    background-color: black;
    color: white;
    font-size: 1.5rem;
}

/*strategies*/

#strategies {


    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 10px;

    margin-left: 2%;
    margin-right: 2%;
}

.strategy-box {
    background-color: #7d7979;
    padding-bottom: 5%;

    border: 3px;
    border-color: black;
    border-style: solid;
    border-radius: 4px;
}

.strategy-heading {
    font-size: 2em;
    text-align: center;
    color: white;
    justify-self: center;

    margin-top: 5%;
    margin-bottom: 1rem;
}

.strategy-list {
    color: white;
}



.strategy-text {
    color: white;
    font-weight: bold;

    margin-left: 5%;
    margin-right: 5%;
}

.pros-cons-text {
    color: white;
    font-weight: bold;

    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 5%;
}

.strategy-meaning {
    font-weight: bold;
    font-size: 1.25rem;
}

/*Famous Players*/

#players-page {

    background-color: #232628;
}


.player-heading {
    margin-bottom: 10%;
}

.player-boxes {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;

    grid-column-gap: 2%;
    grid-row-gap: 2%;


}

.player-box {

    color: white;
    font-weight: bold;
    text-align: center;
}

.player-text {
    background-color: #7d7979;
    border: 5px;
    border-color: black;
    border-style: solid;
}

.player-image {
    width: 100%;

    margin-bottom: -8px;

    border: 5px;
    border-color: black;
    border-style: solid;
}

/*popular terms*/


#term-page {
    display: grid;
    grid-template-rows: 1fr 5fr;

    background-color: #4A5054;
    align-items: center;
}

.term-heading-row {
    font-size: 2em;
    align-self: flex-end;
    justify-self: center;

}


#term-page {
    display: grid;
    grid-template-rows: 1fr 5fr;

    background-color: #4A5054;
    align-items: center;
}

.term-heading-row {
    font-size: 2em;
    align-self: flex-end;
    justify-self: center;

}

.term-info {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-self: flex-start;

    margin-left: 5%;
    margin-right: 5%;
    margin-top: 3rem;

    text-align: center;
}

.term-box {
    margin-left: 15%;
    margin-right: 15%;

    margin-bottom: 10%;
}

.term-box-heading {
    font-size: 1.25rem;
    margin-bottom: 0.25rem;
}

/* Hands */

#hands-page {


    background-color: #4A5054;
}

.hands-table, th, td {
    border: 2px solid black;
}

table{
    border-collapse: collapse;
}

th {
    padding: 5px;
}

td {
    padding: 5px;
}

.hands-heading-row {
    font-size: 2em;
    align-self: flex-end;
    justify-self: center;

}

.hands-table-container {
    display: flex;
    justify-content: center;

    font-size: 2rem;
}

.stripped-row {
    background-color: #2E3234;
}

footer a {
    display: block;
    text-align: center;
}