* {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}

body {
    height: 600vh;
}

.section {
    height: 88vh;
    margin-top: 20px;
    margin-bottom: 20px;
}

/*consider adding a general info text styling*/

/*intro page*/

#intro-page {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.intro-info {
    margin-left: 10%;
    margin-right: 10%;
    align-self: center;
}

.intro-heading {
    font-size: 5em;
}

.intro-text {
    margin-bottom: 1rem;
}

.intro-button {
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 1.5%;
    padding-bottom: 1.5%;

    background-color: #545454;
    border: none;
    border-radius: 3px;

    font-weight: bold;
    color: white;
}

.intro-button:hover {
    cursor: pointer;
    background-color: #636363;
}

.intro-button:active {
    opacity: 0.7;
}

.intro-image-column {
    align-self: center;
}

.intro-image {
    width: 90%;
}



/*history page*/

#history-page {
    display: grid;
    grid-template-columns: 1fr 1fr;

    background-color: #d9d9d9;
}

.history-image-column {
    margin-left: 10%;
}

.history-image {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.history-info {
    margin-left: 10%;
    margin-right: 10%;
    align-self: center;
}

.history-heading {
    font-size: 2em;

    margin-bottom: 1rem;
}

.history-text {
    width: 80%;
}

/*gameplay page*/


#gameplay-page {
    display: grid;
    grid-template-rows: 1fr 3.5fr;

    align-items: center;
}

.gameplay-heading-row {
    margin-left: 10%;
    margin-right: 10%;

    align-self: flex-end;
}

.gameplay-heading {
    justify-self: center; 

    font-size: 2em;
    margin-bottom: 1rem;  
}

.gameplay-info {
    display: flex;
    flex-wrap: wrap;
    row-gap: 5%;

    align-self: flex-start;
    justify-content: center;
}

.gameplay-info-text {
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 2%;

    width: 23%;
    min-width: 10rem;
}